
## **VIDEOGAME HISTORY ANALYSIS**


What do I am to do in this analysis:
1. Organize and clean the dataset
2. Get a general visualitation of the videogame sales between 1980 and 2023.
3. Find out the most popular games and genres
4. Chose a genre for a new game launch, considering the tendency of the market and how saturated is that market of that genre
5. Analyze which games have a long base of players over the years and which ones are still very active
6. Evolution of the companies over the time, to know better where to invest

In [1]:
#Importing libraries
import numpy as np
import pandas as pd
import matplotlib as plt
import plotly as plo
df = pd.read_csv("/Users/oscargonzalezsanchez/Documents/ironhack/projects/project1/data/raw/games.csv")

In [2]:
#Checking dataset
df.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [3]:
#List of columns in the dataset
for col in df.columns.to_list():
    print(col)

Unnamed: 0
Title
Release Date
Team
Rating
Times Listed
Number of Reviews
Genres
Summary
Reviews
Plays
Playing
Backlogs
Wishlist

In [4]:
#Dataset metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1512 non-null   int64
 1   Title              1512 non-null   object
 2   Release Date       1512 non-null   object
 3   Team               1511 non-null   object
 4   Rating             1499 non-null   float64
 5   Times Listed       1512 non-null   object
 6   Number of Reviews  1512 non-null   object
 7   Genres             1512 non-null   object
 8   Summary            1511 non-null   object
 9   Reviews            1512 non-null   object
 10  Plays              1512 non-null   object
 11  Playing            1512 non-null   object
 12  Backlogs           1512 non-null   object
 13  Wishlist           1512 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 165.5+ KB

In [5]:
#checking for duplicated values
dupli_count = df.duplicated().sum()
print(f"{dupli_count} duplicated values")

0 duplicated values

In [6]:
#checking null values
null_count_pre = df.isnull().sum()
#print(null_count_pre)
#print()
null_count = null_count_pre[null_count_pre !=0]
print("Location of null values:")
print(null_count)
display(df.head(1))

Location of null values:
Team        1
Rating     13
Summary     1
dtype: int64

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K

DATA CLEANING PROCESS:
1. Reformat naming of the columns
2. Fixing index column, for that, I will delete the first column, "Unnamed:0", as it looks like a DB pre-index
3. Columns "Times Listed", "Number of Reviews", "Plays", "Playing", "Backlogs" and "Wishlist" are in non-numerical format, need to be treated as numerical. 
4. "Release Date" column needs to be in date format
5. "Summary" and "Reviews" columns are irrelevant for this analysis
6. "Team" and "Rating" miss few values

In [7]:
#Data cleaning process functions

"""
1. Rename the columns
"""
def reformat_naming(df: pd.DataFrame):
    df.columns = [col.strip().replace(" ","_").lower() for col in df.columns]
    return df


"""
2.Drop the double index column
"""
def drop_double_index(df):
    df = df.drop("unnamed:_0", axis = 1)
    return df

"""
3. Converting to num strings
"""
def convert_to_int(df):
    if "K" in df:
        return int(float(df.replace("K",""))*1000)
    else:
        return int(df)

In [8]:
#running functions to reformat names and remove previous index:
df = reformat_naming(df)
df = drop_double_index(df)
display(df.head(1))

#selecting columns to convert to int numbers:
list_col_to_int = ["times_listed","number_of_reviews","plays","playing","backlogs","wishlist"]
for col in list_col_to_int:
    df[col] = df[col].apply(convert_to_int)
display(df.head(1))


total_row, total_column = df.shape
print(f"The DataFrame has: {total_row} rows")

,title,release_date,team,rating,times_listed,number_of_reviews,genres,summary,reviews,plays,playing,backlogs,wishlist
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K

,title,release_date,team,rating,times_listed,number_of_reviews,genres,summary,reviews,plays,playing,backlogs,wishlist
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3900,3900,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17000,3800,4600,4800

The DataFrame has: 1512 rows

In [9]:
#converting to date format
### NOTE: after running the pd.to_datetime, I encounter this error: "ValueError: time data "releases on TBD". This means there is objects with not a date format.
#### ---> df["release_date"] = pd.to_datetime(df["release_date"])
### In the context of this DB, means there is games with not a date of launch yet defined

cond = df["release_date"] == "releases on TBD"
display(df[cond])

#I create a list where I store the indexes of the rows I want to drop:
rows_with_tbd = df.index[df["release_date"] == "releases on TBD"].tolist()

,title,release_date,team,rating,times_listed,number_of_reviews,genres,summary,reviews,plays,playing,backlogs,wishlist
644,Deltarune,releases on TBD,['tobyfox'],4.3,313,313,"['Adventure', 'Indie', 'Music', 'Puzzle', 'RPG']","UNDERTALE's parallel story, DELTARUNE. Meet ne...","['Spamton is so hot, I want to kiss him in the...",1300,83,468,617
649,Death Stranding 2,releases on TBD,['Kojima Productions'],NaN,105,105,"['Adventure', 'Shooter']",NaN,[],3,0,209,644
1252,Elden Ring: Shadow of the Erdtree,releases on TBD,"['FromSoftware', 'Bandai Namco Entertainment']",4.8,18,18,"['Adventure', 'RPG']",An expansion to Elden Ring setting players on ...,['I really loved that they integrated Family G...,1,0,39,146

In [10]:
#there is 3 rows, corresponding to 3 videogames not yet released, removing them
df = df.drop(rows_with_tbd)
display(df.head(1))
total_row, total_column = df.shape
print(f"The DataFrame has: {total_row} rows")
#---->>> df.iloc[649] double check to see if it is dropped, also we can see 3 rows less in the total count

,title,release_date,team,rating,times_listed,number_of_reviews,genres,summary,reviews,plays,playing,backlogs,wishlist
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3900,3900,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17000,3800,4600,4800

The DataFrame has: 1509 rows

In [11]:
# Now that the conflictive rows are dropped, I proceed to set as date format the colum release_date:
df["release_date"] = pd.to_datetime(df["release_date"])
#checking date format is setup:
df["release_date"].dtype

dtype('<M8[ns]')

In [12]:
#dropping unnecesary columns "Summary" and "Reviews"
df= df.drop("summary", axis = 1)
df= df.drop("reviews", axis = 1)
display(df.head(1))

,title,release_date,team,rating,times_listed,number_of_reviews,genres,plays,playing,backlogs,wishlist
0,Elden Ring,2022-02-25,"['Bandai Namco Entertainment', 'FromSoftware']",4.5,3900,3900,"['Adventure', 'RPG']",17000,3800,4600,4800

In [14]:
#dropping null values and reseting index
df = df.dropna(axis=0).reset_index(drop=True)
display(df)
df.info()

,title,release_date,team,rating,times_listed,number_of_reviews,genres,plays,playing,backlogs,wishlist
0,Elden Ring,2022-02-25,"['Bandai Namco Entertainment', 'FromSoftware']",4.5,3900,3900,"['Adventure', 'RPG']",17000,3800,4600,4800
1,Hades,2019-12-10,['Supergiant Games'],4.3,2900,2900,"['Adventure', 'Brawler', 'Indie', 'RPG']",21000,3200,6300,3600
2,The Legend of Zelda: Breath of the Wild,2017-03-03,"['Nintendo', 'Nintendo EPD Production Group No...",4.4,4300,4300,"['Adventure', 'RPG']",30000,2500,5000,2600
3,Undertale,2015-09-15,"['tobyfox', '8-4']",4.2,3500,3500,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...",28000,679,4900,1800
4,Hollow Knight,2017-02-24,['Team Cherry'],4.4,3000,3000,"['Adventure', 'Indie', 'Platform']",21000,2400,8300,2300
...,...,...,...,...,...,...,...,...,...,...,...
1491,Back to the Future: The Game,2010-12-22,['Telltale Games'],3.2,94,94,"['Adventure', 'Point-and-Click']",763,5,223,67
1492,Team Sonic Racing,2019-05-21,"['Sumo Digital', 'Sega']",2.9,264,264,"['Arcade', 'Racing']",1500,49,413,107
1493,Dragon's Dogma,2012-05-22,['Capcom'],3.7,210,210,"['Brawler', 'RPG']",1100,45,487,206
1494,Baldur's Gate 3,2020-10-06,['Larian Studios'],4.1,165,165,"['Adventure', 'RPG', 'Strategy', 'Tactical', '...",269,79,388,602
1495,The LEGO Movie Videogame,2014-02-04,"['WB Games', 'TT Fusion']",2.8,184,184,"['Adventure', 'Puzzle']",1700,11,239,73

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1496 entries, 0 to 1495
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1496 non-null   object
 1   release_date       1496 non-null   datetime64[ns]
 2   team               1496 non-null   object
 3   rating             1496 non-null   float64
 4   times_listed       1496 non-null   int64
 5   number_of_reviews  1496 non-null   int64
 6   genres             1496 non-null   object
 7   plays              1496 non-null   int64
 8   playing            1496 non-null   int64
 9   backlogs           1496 non-null   int64
 10  wishlist           1496 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(3)
memory usage: 128.7+ KB



## **EDA**


1. Get a general visualitation of the most played videogames between 1980 and 2023.
4. Find out the most popular games and genres
5. Chose a genre for a new game launch, considering the tendency of the market and how saturated is that market of that genre
6. Analyze which games have a long base of players over the years and which ones are still very active
7. Evolution of the companies over the time, to know better where to invest